<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<meta charset="utf-8" />
		<title>DevOOPS</title>
		<meta name="description" content="description" />
		<meta name="author" content="Evgeniya" />
		<meta name="keyword" content="keywords" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link type="text/css" th:href="@{/plugins/bootstrap/bootstrap.css}" rel="stylesheet" />
		<link type="text/css" th:href="@{http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}" rel="stylesheet" />
		<link type="text/css" th:href="@{http://fonts.googleapis.com/css?family=Righteous}" rel="stylesheet" />
		<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet" />
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
		
		<script type="text/javascript" th:src="@{/plugins/jquery/jquery-2.1.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/justified-gallery/jquery.justifiedgallery.min.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/tinymce/tinymce.min.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/tinymce/jquery.tinymce.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/devoops.js}"></script>
	</head>
  
  	<body>
 		<!--  
 		<div th:replace="fragments/header :: header">Header</div>
 		-->
    	<div th:replace="${view} :: content">Page Content</div>
    	<!--  
    	<div th:replace="fragments/footer :: footer">Footer</div>
    	-->
  	</body>
  
</html>