<div th:fragment="content">

<script th:inline="javascript">
//<![CDATA[
$(function() {
	$('#ipt_email').editable({
		validate: function(value) {
		    if($.trim(value) == '') {
		        return 'This field is required';
		    }
		}
	});
	$('#ipt_auth').editable({
        source: /*[[ @{'/common/codes/authority'} ]]*/
    });
});

//]]>
</script>

<script th:if="${PAGE_TYPE_R}" th:inline="javascript">
//<![CDATA[
$(function() {
	$("form .form-group a.x-editable").editable("disable");
});
//]]>
</script>

<script th:if="${PAGE_TYPE_C}" th:inline="javascript">
//<![CDATA[
$(function() {
	$("form .form-group a.x-editable").editable("enable");
	$('#ipt_userId').editable({
		ajaxOptions: {
		    type: 'get',
		    dataType: 'json',
		    contentType: 'application/json',
		},
		params: function(params) {
		    return {userId:$("#ipt_userId").editable("getValue",true)};
		},
		url:/*[[ @{'/system/users/add/dupcheck'} ]]*/,
		success: function(response, newValue) {
			return "sadasdsd";
		}
    });
});
//]]>
</script>

<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Tables</a></li>
			<li><a href="#">Data Tables</a></li>
		</ol>
	</div>
</div>



<div class="row">
	
	
	
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-user"></i>
					<span>User Detail</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
  
				<form method="post" th:object="${user}" class="form-horizontal">
					<div th:if="${PAGE_TYPE_U}" class="form-dropdown dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    						<i class="fa fa-cog"></i>
    						<span class="caret"></span>
  						</button>
  						<ul class="dropdown-menu pull-right" role="menu">
						    <li role="presentation"><a role="menuitem" tabindex="-1" type="edit">Edit</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" type="delete">Delete</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" type="changePassword">Change password</a></li>
						</ul>
						<script th:inline="javascript">
						//<![CDATA[
							$("div.form-dropdown ul.dropdown-menu a[type='edit']").click(function(){
								$("form .form-group a.x-editable.float").editable("enable");
								$(".form-dropdown button").attr("disabled","disabled");
								$("#btn_save,#btn_cancel").removeClass("no-move");
								$("#btn_list").addClass("no-move");
							});
						//]]>
						</script>
					</div>
					<fieldset>
						<div class="form-group">
							<label class="col-sm-2 control-label">ID</label>
							<div class="col-sm-5">
								<a id="ipt_userId" class="x-editable" th:text="*{userId}"></a>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-5">
								<a id="ipt_userName" class="x-editable float" th:text="*{userName}"></a>
							</div>
						</div>
						<div class="form-group" th:if="${PAGE_TYPE_C}">
							<label class="col-sm-2 control-label">Password</label>
							<div class="col-sm-5">
								<a id="ipt_password" class="x-editable"></a>
							</div>
						</div>
						<div class="form-group" th:if="${PAGE_TYPE_C}">
							<label class="col-sm-2 control-label">Password Confirm</label>
							<div class="col-sm-5">
								<a id="ipt_passwordCfm" class="x-editable"></a>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-5">
								<a id="ipt_email" class="x-editable float" th:text="*{email}"></a>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Authority</label>
							<div class="col-sm-5">
								<a id="ipt_auth" class="x-editable float" data-type="select" th:attr="data-value=*{authority.authCode}" th:text="*{authority.authName}"></a>
							</div>
						</div>
						
					</fieldset>
					
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-2">
							<button id="btn_save" class="btn btn-primary btn-sm no-move">
  								<span class="glyphicon glyphicon-ok"></span> Save
							</button>
							<button id="btn_cancel" class="btn btn-default btn-sm no-move">
  								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>
							<script th:inline="javascript">
							//<![CDATA[
								$("#btn_save").click(function(){
									hakstrace.saveData(
								    		/*[[ @{'/system/users/edit'} + '/' + *{userId} ]]*/,
								    		{userName: $("#ipt_userName").editable("getValue",true),
								    		 email:$("#ipt_email").editable("getValue",true),
								    		 authority:{
								    			 authCode:$("#ipt_auth").editable("getValue",true)
								    		 }},
								    		hakstrace.reloadContent
								    		);
									
									return false;
								});
								$("#btn_cancel").click(function(){
									hakstrace.reloadContent();
									return false;
								});
							//]]>
							</script>
							<button id="btn_list" type="button" class="btn btn-default btn-sm">
  								<span class="glyphicon glyphicon-list"></span> List
							</button>
							<script th:inline="javascript">
							//<![CDATA[
								$("#btn_list").click(function(){
									hakstrace.loadContent( /*[[ @{'/system/users'} ]]*/ );
								});
							//]]>
							</script>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
	
</div>



</div>

