<div th:fragment="content">

<script th:inline="javascript">
//<![CDATA[
$(function() {
	$.fn.editable.defaults.mode = 'inline';
	$('#ipt_userName').editable();
	$('#ipt_email').editable({
		validate: function(value) {
		    if($.trim(value) == '') {
		        return 'This field is required';
		    }
		}
	});
	$('#ipt_auth').editable({
        source: /*[[ @{'/common/codes/authority'} ]]*/
    });
	
	test_001();
});

//]]>
</script>

<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Tables</a></li>
			<li><a href="#">Data Tables</a></li>
		</ol>
	</div>
</div>



<div class="row">
	
	
	
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-search"></i>
					<span>Use Detail</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<form method="post" th:object="${user}" class="form-horizontal">
					
					<fieldset>
						<div class="form-group">
							<label class="col-sm-2 control-label">ID</label>
							<div class="col-sm-5">
								<span class="form-text" th:text="*{userId}"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-5">
								<a href="#" id="ipt_userName" data-title="userName" th:text="*{userName}"></a>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-5">
								<a href="#" id="ipt_email" data-title="email" th:text="*{email}"></a>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Authority</label>
							<div class="col-sm-5">
								<a href="#" id="ipt_auth" data-type="select" data-title="authName" th:attr="data-value=*{authority.authCode}" th:text="*{authority.authName}"></a>
							</div>
						</div>
						
						
						<!-- 
						<div class="form-group">
							<label class="col-sm-3 control-label">Name</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="userName" th:field="*{userName}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Email address</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="email" th:field="*{email}"/>
							</div>
						</div>
						 -->
						
					</fieldset>
					
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="btn_save" class="btn btn-primary">Save</button>
							<button class="btn btn-primary">Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
	
</div>



</div>

