<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head th:fragment="common-css-fragment">
    	<link th:href="@{/plugins/bootstrap/bootstrap.css}" rel="stylesheet" />
		<link th:href="@{http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}" rel="stylesheet" />
		<link th:href="@{http://fonts.googleapis.com/css(family=Righteous)}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/style.css}" rel="stylesheet" />
	</head>
      
	<body>
  
	</body>
</html>