a{
	cursor:pointer;
}

.no-show{
	display:none;
}

.form-group.no-margin {
  margin-top:0px;
  margin-bottom:0px;
}

/** bootstrap overriding **/
.form-horizontal .form-group {
margin-right: 0px;
margin-left: 0px;
}

.form-horizontal fieldset {
	margin-bottom: 25px;
}

.form-group span.form-text{
	padding-top:4px;
	display:inline-block;
}

form.form-horizontal div.form-dropdown{
	float:right;
	margin-right:20px;
}